fastapi
uvicorn
python-multipart
httpx
pydantic
python-dotenv
fpdf
Pillow
pdf2image
pytesseract
python-docx
openpyxl
python-pptx
faiss-cpu
numpy
tiktoken
PyMuPDF
torch
transformers
google-cloud-storage
pydrive2
jinja2
