fastapi
uvicorn
pydrive2
google-api-python-client
pillow
torch
torchvision
efficientnet-pytorch
ollama
python-multipart
jinja2
reportlab
python-dotenv
asyncio
logging
fpdf
pdf2image
pytesseract
python-docx
openpyxl
python-pptx
faiss-cpu
numpy
tiktoken
pymupdf
transformers
httpx
google-cloud-storage